
.wrapper {
    width: 100%;
    max-width: 960px;
    margin: auto; 
    /* margin "auto" will automatically center my page */
    

}


#a480x75 {
    background-color: rgb(12, 163, 163);
    height: 75px;
}

#b480x150 {
    background-color: rgb(20, 224, 224);
    height: 150px;
}


#c480x125 {
    background-color: black;
    color: whitesmoke;
    height: 125px;
}


#d480x125 {
    background-color: rgb(216, 8, 8);
    height: 125px;
    
}

#e5 {
    background-color: orange;
    width: 50%;
    height: 250px;
    float: left;
}

#f6 {
    background-color: orangered;
    width: 50%;
    height: 250px;
    float: right;

}

#g7 {
    background-color: yellowgreen;
    width: 50%;
    height: 250px;
}

#h8 {
    background-color: blue;
    width: 50%;
    height: 250px;
}

/* .efgh240x250 section {
    width: 50%;
    height: 250px;
} */

#foot-section {
    background-color: rgb(12, 163, 163);
}
